<!DOCTYPE html>

<head>
    <title> Steam social connections network </title>
    <link rel="stylesheet" href="/vis.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/vis.min.js"></script>
</head>

<body>
    {{{body}}}
</body>